body{
    background: rgb(230, 227, 227);
}
.my-card:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}
#backgd1{
    background: url("{% static 'img/Matrice des priorités.png' %}");background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    }